@import "./common";
@import "../shared/header";
@import "../shared/footer";

main {
  font-family: "ヒラギノ角ゴ StdN, W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", sans-serif;
  text-align: center;
}

h1 {
  background: none;
  font-size: 30px;
  margin: 0;
  min-height: 70px;
}

h3 {
  font-size: 20px;
  margin-top: 0;
}

h4 {
  padding-top: 5px;
}

p {
  font-size: 18px;
  line-height: 2em;
  margin: 0;
}

ul {
  font-size: 20px;
  font-weight: bold;
  list-style-type: disc;
  padding-inline-start: 20px;
  text-align: left;
}

li {
  padding: 10px 0;

  /* item-guideline */
}

.item-guideline {
  background-color: #f0f0f0;
  padding: 20px 0;
}

.img-guideline {
  width: 100px;
}

.guideline-title {
  font-size: 34px;

  /* wrappers */
}

.wrappers {
  margin: 0 auto;
  padding-bottom: 100px;
  width: 90%;
}

.description {
  margin: 0 auto;
  padding-top: 50px;
}

@media screen and (min-width: 767px) {
  .description {
    width: 70%;
  }
}

.desc-title {
  margin-bottom: 0;
}

.img-underline {
  width: 200px;

  /* desc-images */
}

.desc-images {
  margin: 0 auto;
  padding-top: 30px;
}

.desc-subtitle {
  display: inline-block;
  margin-bottom: 2em;
  position: relative;
}

.desc-subtitle::before {
  background-color: #000;
  bottom: -10px;
  content: "";
  display: inline-block;
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transform: translateX(-50%);
  width: 235px;
}

.desc-text {
  text-align: left;
}

.desc-text span {
  font-weight: bold;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 5%;
  justify-content: center;
  margin: 0 auto;
  padding-top: 40px;
}

@media screen and (max-width: 767px) {
  .flex-list {
    gap: 0;
    justify-content: space-between;
  }
}

.flex-item {
  width: 30%;
}

@media screen and (max-width: 767px) {
  .flex-item {
    text-align: left;
    width: 47.5%;
  }
}

.flex-item h4 {
  margin-top: 0;
}

.flex-item img {
  width: 100%;
}

.damage img {
  width: 30%;
}

@media screen and (max-width: 959px) {
  .damage img {
    width: 47.5%;
  }
}
